body{
    background-color: blueviolet !important;
}

#title {
    font-size: 32px;
    color: antiquewhite;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

.carousel-control-prev {
  left: 150px !important;   /* Mueve la flecha izquierda hacia adentro */
}

.carousel-control-next {
  right: 150px !important;  /* Mueve la flecha derecha hacia adentro */
}
